{% extends 'base.html' %}

{% block title %}
home page
{% endblock title %}

{% block content %}
<h1 style="padding: 8px;">
    welcome to home page
</h1>
<style>
p,a{
    text-align: center;
    
}
</style>
<p style="text-align: center; padding: 18px; margin: 23px;">
    Django is a high-level web framework written in Python that follows the Model-View-Controller (MVC) architectural
    pattern. It aims to simplify and accelerate web development by providing a set of tools and conventions.

    Here are some key features and concepts of Django:

    Object-Relational Mapping (ORM): Django includes a powerful ORM that allows developers to interact with the database
    using Python objects. It abstracts away the complexities of SQL queries and provides a convenient way to define
    database models and perform database operations.

    URL Routing and View Functions: Django uses a URL routing system to map URLs to view functions. URLs are defined in
    a centralized urls.py file, and each URL pattern is associated with a corresponding view function or class-based
    view. Views handle HTTP requests, process the logic, and return an HTTP response.

    Template Engine: Django has its own template engine, which allows you to create dynamic HTML templates by combining
    HTML with template tags and filters. Templates support variables, loops, conditionals, and other control structures,
    making it easier to generate dynamic content.

    Forms and Form Validation: Django provides a form handling system that simplifies the process of handling user input
    and form validation. It includes built-in form fields, form validation, and error handling mechanisms.

    Authentication and Authorization: Django offers a robust authentication system that handles user registration,
    login, logout, and password management. It also provides authorization mechanisms to control access to different
    parts of the application based on user roles and permissions.

    Admin Interface: Django includes an admin interface that can be easily set up to provide a fully-featured,
    customizable administration interface for managing data models. It offers CRUD (Create, Read, Update, Delete)
    operations on models out of the box.

    Security: Django incorporates security features by default, including protection against common web vulnerabilities
    like cross-site scripting (XSS), cross-site request forgery (CSRF), and SQL injection. It encourages best practices
    for secure web development.

    Scalability and Reusability: Django is designed with scalability in mind, allowing developers to build complex and
    scalable web applications. It promotes modular and reusable code by encouraging the use of apps, which are
    self-contained modules that encapsulate specific functionalities.


</p>
<p style="font-size: larger; color: red;">
    <a href="{% url 'apps:index' %}">back to index</a>
</p>

{% endblock content %}